.container
  .panel.panel-primary.margin-top-60
    .panel-heading
      %i.fa.fa-book
      Add New Book
    .panel-body
      = form_for @book, url: books_path, method: :post do |f|
        .row
          .form-group.col-lg-6
            %label
              Book Name
              %span{style: 'color: red'} *
            = f.text_field :name, class: "form-control",required: true
          .form-group.col-lg-6
            %label
              Price
              %span{style: 'color: red'} *
            = f.text_field :price, class: "form-control",required: true
        .row
          .col-lg-12
            = f.submit "Add New Book", class: "btn btn-primary"
